* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, 'Grandstander', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: radial-gradient(circle at 50% 50%, #52749f 0, #1a1b1d 50%, #000000 100%);
}

h1, th, td {
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.header {
  width: 100%;
  padding: 10px;
  /* background-image: radial-gradient(circle at 102.23% 40.79%, #89b69b 0, #78ae95 16.67%, #5fa28c 33.33%, #3c917f 50%, #008074 66.67%, #00746e 83.33%, #006c6e 100%); */

}

.header h1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.select-container {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.tableDriverStandings {
  width: 80%;
  max-width: 960px;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.tableDriverStandings th, td {
  /* border: 1px solid #fff; */
  padding: 5px 5px;
}

.tableDriverStandings tr:nth-child(odd) {
  /* background-image: radial-gradient(circle at 50% 50%, #6ac395 0, #50ba90 25%, #29ae89 50%, #00a283 75%, #009980 100%); */
  background: linear-gradient(270deg, rgba(11,143,171,0.5) 10%, rgba(39,73,74,0.7) 100%);
}

.tableDriverStandings tr:nth-child(even) {
  /* background-image: linear-gradient(170deg, #549271 0, #3f896b 25%, #207e63 50%, #00735c 75%, #006a58 100%); */
  background: linear-gradient(270deg, rgba(35,76,84,0.5) 10%, rgba(82,153,156,0.7) 100%); 
}